{
  "extends": ["eslint:recommended", "airbnb-base", "plugin:prettier/recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "no-restricted-syntax": "off",
    "no-param-reassign": [2, { "props": false }],
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest/style",
        "plugin:jest-formatting/recommended",
        "plugin:testing-library/dom"
      ],
      "rules": {
        "testing-library/prefer-screen-queries": 0
      }
    }
  ]
}