.endOfGameModalContent {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  align-content: space-around;
  justify-content: space-between;
  background-image: url('../static/EndOfGameWallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gameOver {
  grid-column: span 2;
  grid-row: 1;
  padding: 20px;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}

.gameStats {
  grid-column: span 2;
  grid-row: 2;
  padding: 60px 230px 200px;
  font-size: 20px;
  text-align: justify;
}

.nameInput {
  grid-column: span 2;
  grid-row: 3;
  margin: 0 200px;
  height: 35px;
}

.endOfGameButton {
  width: 120px;
  height: 30px;
  background: #067421;
  color: white;
  border: 1px solid #063612;
  font-weight: 700;
  // background: -webkit-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  // background: -moz-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  // background: -o-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  // background: linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  // box-shadow: inset 0px 2px 2px rgba(75, 75, 75, 0.5);
  // border: 2px solid #063612;
}

.acceptEndButton {
  grid-column: 1;
  grid-row: 4;
  justify-self: end;
  width: 99px;
  border-bottom-left-radius: 15px;
}

.acceptShowResultsButton {
  grid-column: 2;
  grid-row: 4;
  width: 199px;
  border-bottom-right-radius: 15px;
}