.menuButton {
  display: flex;
  flex-direction: row;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  border: none;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  border-bottom-right-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  transition: filter ease-in-out 0.2s;
  &:hover {
    background: rgba(255, 255, 255, 0.35);
    filter: saturate(1.5);
  }
  &__greenBlock {
    width: 121px;
    height: 133px;
    font-style: normal;
    font-weight: 600;
    font-size: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: linear-gradient(140.39deg, #14473b 0%, #016a25 100%);
  }
}