.mainMenu{
    background: rgba(10, 0, 0, 0.7);
    width: 711px;
    height: 119px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.mainMenu .mainMenu__button{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
}
button:active { 
    text-decoration: underline;
    color:#000;
}
