.modeMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);

  &__button {
    padding: 0;
    border: none;
    background: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: $text-font-size;
    height: 50px;
    cursor: pointer;
  }

  &__button--active {
    text-decoration: underline;
    color: #000;
  }
}

@media (min-width: $breakpoint-lg) {
  .modeMenu {
    border-radius: 20px 20px 0px 0px;

    &__button {
      font-style: normal;
      font-size: 32px;
      height: 100px;
    }
  }
} ;
