.rankRecord {
  overflow: hidden;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #444;
  border-radius: $standard-border-radius;
  justify-content: space-between;
  font-size: $text-font-size;
  font-weight: 500;
  background-color: #fff;
}

.rankRecord:first-child {
  font-weight: 700;
}

@media (min-width: $breakpoint-lg) {
  .rankRecord {
    border-radius: 10px;
  }
}
