.rankSection {
  // height: 250px;
  padding: 15px;
  margin: 0 0 5px 0;
  border-radius: $standard-border-radius;
  background-color: rgba(255, 255, 255, 0.65);

  &__category {
    @include title;
    font-size: $text-font-size;
    margin-bottom: 5px;
  }
}

@media (min-width: $breakpoint-sm) {
  .rankSection {
    max-width: 472px;
    margin: auto;
  }
}

@media (min-width: $breakpoint-lg) {
  .rankSection {
    height: 100%;
    max-width: none;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.65);
    overflow: hidden;

    &__ranks {
      height: 85%;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__category {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
