.resultModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .table {
    display: block;
    margin-bottom: 10px;
    height: 80%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__header__number {
      width: 10%;
    }
  }

  tr {
    font-size: 1rem;
    height: 50px;
  }

  td,
  th {
    border: 3px solid #fff;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td.correct {
    background-color: #40c456;
  }

  td.wrong {
    background-color: #c45040;
  }
}

.closeButton {
  width: 90%;
  margin: 5px auto;
  height: 40px;
  color: white;
  background: -webkit-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -moz-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -o-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  box-shadow: inset 0px 2px 2px rgba(75, 75, 75, 0.5);
  border: 2px solid #063612;
  border-radius: 0 0 15px 15px;
}

// .resultModalContent {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   height: 100%;
//   border-radius: 10px;

//   background-image: url('/images/modal-background2.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   .table {
//     display: block;
//     margin-bottom: 10px;
//     width: 50%;
//     height: 300px;
//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//     overflow: scroll;
//     -ms-overflow-style: none;
//     scrollbar-width: none;

//     &::-webkit-scrollbar {
//       display: none;
//     }

//     &__header__number {
//       width: 10%;
//     }
//   }

//   tr {
//     font-size: 1rem;
//     height: 50px;
//   }

//   td,
//   th {
//     border: 3px solid #fff;
//     text-align: left;
//     padding: 8px;
//   }

//   tr:nth-child(even) {
//     background-color: #dddddd;
//   }

//   td.correct {
//     background-color: #40c456;
//   }

//   td.wrong {
//     background-color: #c45040;
//   }
// }

// .closeButton {
//   width: 50%;
//   height: 40px;
//   color: white;
//   background: -webkit-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
//   background: -moz-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
//   background: -o-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
//   background: linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
//   box-shadow: inset 0px 2px 2px rgba(75, 75, 75, 0.5);
//   border: 2px solid #063612;
//   border-radius: 0 0 15px 15px;
// }
