.rulesSection {
  width: 100%;
  padding: 15px;
  margin: 0 0 10px 0;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 8px;

  &__category,
  &__question {
    @include title;
    font-size: 16px;
    margin: 5px 0;
  }

  &__question {
    margin-bottom: 14px;
  }

  &__rules {
    text-align: justify;
    font-size: $title-font-size;
    text-indent: $title-font-size;
  }
}

@media (min-width: $breakpoint-sm) {
  .rulesSection {
    max-width: 472px;
    margin: auto;
  }
}

@media (min-width: $breakpoint-lg) {
  .rulesSection {
    height: 100%;
    max-width: none;
    border-radius: 0 0 20px 20px;

    &__category,
    &__question {
      font-size: 40px;
      text-align: center;
      margin-bottom: 15px;
    }

    &__rules {
      font-size: 29px;
      text-align: justify;
      text-indent: 48px;
    }
  }
}
