.timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #063612;
  margin-left: 10px;

  color: rgb(255, 255, 255);
  font-size: 12px;
  background: -webkit-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -moz-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -o-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  box-shadow: inset 0px 2px 2px rgba(75, 75, 75, 0.5);

  &__number {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 11px;
  }

  &__text {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media (min-width: $breakpoint-md) {
  .timer {
    width: 110px;
    height: 110px;

    &__number {
      position: absolute;
      top: 3px;
      right: 5px;
      font-size: 16px;
    }

    &__text {
      font-size: $text-font-size;
      font-weight: bold;
    }
  }
}
