.timer {
  height: 70px;
  width: 70px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 10px 15px;
  margin-right: 2px;
  background: -webkit-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -moz-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: -o-linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  background: linear-gradient(145deg, #35973e 0%, #063612 100%, #2c2c2c 90%);
  box-shadow: inset 0px 2px 2px rgba(75, 75, 75, 0.5);
  border: 2px solid #063612;
}
