.chooseGameSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: $breakpoint-lg) {
  .chooseGameSection {
    padding: 0px 40px;
    width: 70%;
  }
}
