.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px auto 10px auto;
}
@media (min-width: $breakpoint-sm) {
  .logoSection {
    width: 288px;
  }
}

@media (min-width: $breakpoint-lg) {
  .logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
}
