.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px auto 10px auto;
}

// .logoSection {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 30%;
// }
