.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 20px;
  margin-top: 50px;
  height: 100%;
  width: 30%;
}

.contentSection {
  padding: 40px;
  height: 100%;
  width: 70%;
}
