.mainSection {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;

  &__mainMenuSection {
    display: grid;
    place-self: center;
    gap: 10px;
  }

  .contentSection {
    margin-top: 10px;
  }
}
