.mainWrapper {
  width: 100vw;
  height: 100vh;
  padding: 10px 0;
  margin-top: 10px;
}

.mainWrapper__upperSection {
  width: 100%;
}

.mainWrapper__lowerSection {
  width: 100%;
}

@media (min-width: $breakpoint-lg) {
  .mainWrapper {
    max-width: 1280px;
    height: 720px;
    margin: 0 20px;
  }
  .mainWrapper__upperSection {
    display: flex;
    height: 30%;
    width: 100%;
  }
  .mainWrapper__lowerSection {
    width: 100%;
    height: 70%;
  }
}
