.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    'logo categories'
    'main main';
  gap: 15px;
  background-color: blue;
  width: 1280px;
  height: 720px;
}
