body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../../public/images/background-image.png);
  background-size: cover;
  font-family: $font-family-primary;
  font-size: 10px;
}
