body {
  font-family: $font-family-primary;
  font-size: 10px;
}

@media (min-width: $breakpoint-lg) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}
