.newGameButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  border: none;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  border-bottom-right-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  transition: filter ease-in-out 0.2s;
  
  &:hover {
    background: rgba(255, 255, 255, 0.35);
    filter: saturate(1.5);
  }
  
  &__greenBlock {
    background: linear-gradient(145deg, rgba(20,73,58,1) 0%, rgba(1,101,36,1) 100%);
    border: 4px solid #063612;
    padding: 10px;
    margin-right: 5px;
  }
}