@import 'externalImports';
@import 'reset';
@import 'vars';
@import 'main';

// * COMPONENTS
@import 'components/mainMenu';
@import 'src/scss/components/testButton';
@import 'src/scss/components/logo';

// * LAYOUTS
@import 'src/scss/layouts/mainWrapper';
@import 'src/scss/layouts/logoSection';
@import 'src/scss/layouts/chooseGameSection';
@import 'src/scss/layouts/mainSection';

